.Signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #faf8ff;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 20px 0;

  h1 {
    font-size: 2.2rem;
    font-weight: 500;
    color: #1a1a1a;
  }

  .Input {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;

    input {
      padding: 10px 15px;
      border: 1px solid #1a1a1a;
      border-radius: 5px;
      width: 100%;
      max-width: 250px;
      font-size: 1rem;
      font-weight: 300;
      color: #1a1a1a;
      outline: none;
    }

    button {
      padding: 10px 15px;
      background-color: #ce276f;
      color: white;
      font-size: 1rem;
      font-weight: 400;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #dc0361;
      }
    }
  }

  @media (min-width: 0) and (max-width: 820px) {
    padding: 10px 30px;
    flex-direction: column;

    h1 {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .Input {
      input {
        width: 100%;
      }

      button {
        min-width: 80px;
        font-size: 0.8rem;
      }
    }
  }

  @media (min-width: 820px) and (max-width: 1024px) {
    .Input {
      input {
        width: 100%;
      }

      button {
        min-width: 80px;
        font-size: 0.8rem;
      }
    }
  }
}