.search {
  position: relative;
  border-radius: 4px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  margin: 15px 16px;
  display: inline;
  width: auto;

  &:hover {
    background-color: #fcf4f8;
  }

  .searchIconWrapper {
    padding: 6px 0 0 5px;
    height: 100%;
    position: absolute;
    pointer-events: none;
  }

  .styledInputBase {
    color: inherit;

    input {
      padding: 8px 8px 8px 30px;
      transition: width 0.3s ease-in-out;
      width: 100%;
    }
  }

  @media (min-width: 0px) and (max-width: 820px) {
    width: 50%;
  }

  @media (min-width: 960px) {
    .styledInputBase {
      input {
        width: 240px;
      }
    }
  }
}