body {
    margin: 0;
    font-family: "Inter", "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #f5d4e2;
}

body::-webkit-scrollbar-thumb {
    background-color: #ce276f;
    border-radius: 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.HeroWrapper {
    display: flex;
    flex-direction: column;
}

.Hero {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
}